:root {
    --bar-height: 72px;
    --color-primary: #173f5f;
    --color-primary-light: #20639b;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */
.header {
    height: 100%; /*was 100vh*/
    background: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-light));
    display: flex;
    align-items: center;
    /* padding-top: var(--bar-height); */
    box-sizing: border-box;
}.call-to-action {
    max-width: 400px;
    padding: 32px;
    box-sizing: border-box;
    color: #ffffff;
    background: #000000;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}.call-to-action__title {
     margin-top: 0;
 }.call-to-action__description {
      font-weight: 500;
      font-size: 1.1em;
      padding-bottom: .5em;
  }
.call-to-action__button {
    background: white;
    outline: none;
    font: bold 1.1em 'Poppins', sans-serif;
    color: var(--color-primary);
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 10px 16px;
    cursor: pointer;
    transition: background 0.15s, color 0.15s;
    text-decoration: none;
}.call-to-action__button:hover {
        background: transparent;
        color: #ffffff;
    }

.bar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--bar-height);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: background 0.15s;
}.bar--bg {
     background: var(--color-primary);

 }.bar__content {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }.bar__logo {
       height: 100%;
   }.bar__nav-toggle {
        cursor: pointer;
    }.bar__nav-toggle > i {
         color: #ffffff;
         font-size: 2em;
     }

#inpNavToggle {
    display: none;
}#inpNavToggle:checked ~ .nav {
     left: 0;
     transition: left ease-in-out .6s;
}

.nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: var(--bar-height);
    left: -100%;
    width: 100%;
    height: calc(100vh - var(--bar-height));
    padding: 32px;
    background: #222222;
    box-sizing: border-box;
    transition: left ease-in-out .6s;
}.nav__link {
     font-weight: 500;
     padding: 16px 0;
     text-decoration: none;
     color: #ffffff;
     border-bottom: 1px solid rgba(255, 255, 255, 0.1);
 }.nav__link:hover {
      opacity: 0.8;
  }

/* END OF HEADER */

/* MAIN STYLING */
main {
    height: 100vh;
    background: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-light));
    display: flex;
    align-items: center;
    padding-top: var(--bar-height);
    box-sizing: border-box;
}

.form {
    margin: 0 auto;
    max-width: 400px;
    padding: 32px;
    box-sizing: border-box;
    color: #ffffff;
    background: #000000;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}.form__title {
     text-align: center;
 }.form__button {
    background: white;
      width: 100%;
    outline: none;
    font: bold 1.1em 'Poppins', sans-serif;
    color: var(--color-primary);
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 10px 16px;
    cursor: pointer;
    transition: background 0.15s, color 0.15s;
    text-decoration: none;
}.form__button:hover {
        background: transparent;
        color: #ffffff;
    }
.form__group {
    padding: 1em 0;
}
.form__input {
    width: 100%;
    outline: none;
    padding: 0.8em 0;
    margin: 1em 0;
    border: none;
    border: 1px solid white;
}.form__input:focus {
     border: 1px solid var(--color-primary-light);
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
 }.form__info {
      text-align: center;
  }.form__info a {
       text-decoration: none;
   }
 /* END OF MAIN STYLING */

/* FOOTER STYLING */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--color-primary);
    color: white;
    text-align: center;
}
/* END OF FOOTER STYLING*/

/* UTILLITY CLASSES */
.u-centered {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}
.selected {
    opacity: 0.8;
}
/* END OF UTILLITY CLASSES */

/* MEDIA QUERIES */
@media screen and (min-width: 767px) {
    .bar__nav-toggle {
        display: none;
    }

    .nav {
        display: initial;
        position: static;
        width: unset;
        height: unset;
        padding: unset;
        background: transparent;
    }.nav__link {
         border-bottom: none;
     }.nav__link:not(:last-of-type) {
          margin-right: 24px;
      }
}
/* END MEDIA QUERIES */