@model RegisterModel


<form asp-action="Register" asp-controller="Account" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Username" />
    <br />
    <input asp-for="EmailAddress" />
    <br />
    <input asp-for="ConfirmEmailAddress" />
    <br />
    <input asp-for="Password" />
    <br />
    <input asp-for="ConfirmPassword" />
    <br />
    <input type="submit" />
</form>

@*Log model Errors*@
@Html.ValidationSummary()