@model SchematicModel
<div class="col-12 table-responsive">
    <form asp-action="Schematics">
        <table class="table table-striped" id="createSchematic">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Sets</th>
                <th>Reps</th>
                <th>Weight</th>
            </tr>
            </thead>

            <tbody id="table-body">
            <tr>
                <td><input class="form-control" asp-for="InputFields"/></td>
                <td><input class="form-control" asp-for="InputFields" /></td>
                <td><input class="form-control" asp-for="InputFields" /></td>
                <td><input class="form-control" asp-for="InputFields"/></td>
                <td><input class="form-control" asp-for="InputFields"/></td>
            </tr>
            <tr class="bg-dark table-footer">
                <td colspan="2" class="text-left">
                    <input class="form-control" placeholder="Schematic name" asp-for="SchemaName"/>
                </td>
                <td colspan="3" class="text-right">
                    <input type="submit" class="btn btn-success" value="Create"/>
                    <button type="button" class="btn new-exercise btn-primary"><i class="fas fa-plus"></i> New exercise</button>
                    <button type="button" class="btn remove-exercise btn-danger"><i class="fas fa-trash"></i> Remove exercise</button>
                </td>
            </tr> 
            </tbody>
        </table>
    </form>
</div>