@using Microsoft.Extensions.WebEncoders.Testing
@model LoginModel

<button onclick="AddNewRow();">New Row</button>

<script language="javascript">
    var table = document.getElementById("table");

    function AddNewRow() {
        var row = table.insertRow();

        var i;
        var cell;
        for (i = 0; i < 5; i++) {
            cell = row.insertCell(i);

            if (i === 4) {
                var removeRowBtn = document.createElement("button");
                removeRowBtn.onclick = function() {
                    var td = event.target.parentNode; 
                    var tr = td.parentNode; // the row to be removed
                    tr.parentNode.removeChild(tr);
                }
                removeRowBtn.textContent = "Remove Row";
                cell.appendChild(removeRowBtn);
                break;
            }

            var input = document.createElement("input");

            input.setAttribute("name", "inputfields");

            cell.appendChild(input);
        }
    }

</script>